<h4>Welcome to <%= @app_name %>, <%= @user.first_name %> <%= @user.last_name%>!</h4>
<p>
	Your account has successfully been created. Now, all that's left to do is activate your account.
</p>
<br />
<p>
	Your activation code is <b><%= @user.username %></b>.
</p>
<br />
<p>
	To finish your registration, simply enter that code here: <a href="<%= @url %>"><%= @url %></a>
</p>
<p>
	Thank you for joining <%= @app_name %>! We hope you find what you are looking for!
</p>