<h4>Welcome to <%= @app_name %>, <%= @user.first_name %> <%= @user.last_name%>!</h4>
<p style="margin: 3px 0;">
	Your account has successfully been created. Now, all that's left to do is activate your account.
</p>
<p style="margin: 3px 0;">
	To finish your registration, click on the following link:<br />
	<a style="word-wrap: break-word" href="<%= @url %>"><%= @url %></a>
</p>
<p style="margin: 3px 0;">
	Thank you for joining <%= @app_name %>! We hope you find what you are looking for!
</p>