<h4><%= @app_name %> Password Recovery for <%= @user.username %></h4>
<p style="margin: 3px 0;">
	This email is to inform you that you (hopefully) made a request to have your password reset.
</p>
<p style="margin: 3px 0;">
	In order to go ahead with resetting your password, copy and paste the following URL in your
	browser address bar:
</p>
<p style="margin: 3px 0;">
	<a style="word-wrap: break-word" href="<%= @url %>"><%= @url %></a>
</p>
<p style="margin: 3px 0;">
	You will also need to provide a short confirmation code when resetting your password:
</p>
<p style="margin: 3px 0;">
	<b>Code:</b> <%= @code %>
</p>
<p style="margin: 3px 0;">
	If you did not request to have your password reset, you can block password recovery on your
	account for the next seven days by copying and pasting the following URL in your browser
	address bar:
</p>
<p style="margin: 3px 0;">
	<a style="word-wrap: break-word" href="<%= @url_del %>"><%= @url_del %></a>
</p>
<p style="margin: 3px 0;">
	This code and link will expire in seven days.
</p>
