<%= form_tag('/offers/complete', method: :post) do %>
    <label>User Id<br /><%= text_field_tag(:user_id) %></label>
    <label>Session Token<br /><%= text_field_tag(:session_token) %></label>
    <label>Csrf Token<br /><%= text_field_tag(:csrf_token) %></label>
    <label>Offer Id<br /><%= text_field_tag(:id) %></label>
    <%= submit_tag("Confirm") %>
<% end %>