<div style="background-color: #555; padding: 10px 5px 7px; margin: 0;">
    <img src="<%= @image_url %>" style="height: 30px; max-height: 30px;" height="30">
</div>
<h4 style="background-color: #34343b; color: white; padding: 15px;margin: 0;">New Offer Received</h4>
<p style="margin: 0; padding: 15px; background-color: #f1f1f4;">
	You received a new offer from <a href="<%= @offerer_link %>"><%= @offerer_name %></a>
	of $<%= @offer_price %> for your 
	listing, <a href="<%= @product_link %>"><%= @product_name %></a>.
</p>
<p style="margin: 0; padding: 15px; background-color: #eaeaef;">
	To view this offer and others, click on the following link: <br />
	<a style="word-wrap: break-word" href="<%= @app_offer_seller_link %>"><%= @app_offer_seller_link %></a>
</p>
<p style="background-color: #d44; color: white; padding: 15px; margin: 0;">
	As always, remember: <%= @app_name %> will never ask you to send your password to us in an email.
</p>
